.Day {
  border: 2px solid rgba(255, 255, 255, 0);
  border-top: 4px solid rgba(255, 255, 255, 0);
  flex: 1;
  padding-left: 2em;
  padding-top: 0.5em;
  transition: border-top 0.5s, padding-top 0.5s;
}

.Day:hover {
  border-top-style: inset;
  border-top: 4px solid rgb(255, 255, 255);
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  padding-top: 0em;
}

#day-name {
  color: white;
  margin-bottom: 0;
  transition: font-size 0.5s;
}

#date {
  color: gray;
  margin-top: 0;
  font-size: 0.8em;
  transition: font-size 0.5s;
}

#weather-high {
  color: white;
  margin-bottom: 0;
  white-space: nowrap;
  font-size: 0.8em;
  transition: font-size 0.5s;
}

#weather-low {
  color: white;
  margin-top: 0;
  white-space: nowrap;
  font-size: 0.8em;
  transition: font-size 0.5s;
}

#description {
  margin-top: 0;
  color: gray;
  font-size: 0.8em;
  transition: font-size 0.5s;
}

#icon {
  font-size: 3em;
  color: #457b9d;
}

#icon2 {
  height: 70px;
  width: 70px;
  object-fit: none;
}
