#navvy {
  display: flex;
  justify-content: flex-start;
  width: 82%;
  margin-left: 6%;
  margin-right: 12%;
  min-width: 600px;
  flex-wrap: wrap;
}

#navvy-title {
  font-weight: 800;
}

.navvy-links {
  color: #95a3b3 !important;
  white-space: nowrap;
}

#navvy-auto-searchbar {
  margin-left: auto;
  min-width: 420px;
}

@media (max-width: 1200px) {
  #navvy-auto-searchbar {
    min-width: 275px;
  }
}

@media (max-width: 996px) {
  #navvy-auto-searchbar {
    margin-left: 0;
    padding-top: 10px;
    min-width: 200px;
  }
  #navvy {
    min-width: 400px;
  }
}

@media (max-width: 900px) {
  .bootstrap-navbar {
    background-color: #1c1c1c;
  }
  body {
    background-image: url("../../assets/background-blank.png") !important;
  }
}

@media (max-width: 700px) {
  #navvy {
    min-width: 400px;
  }
  #navvy-title {
    font-size: 0.5rem;
  }
  #navvy-auto-searchbar form {
    width: 50%;
    font-size: 1px;
  }
}
