.MobileBlock {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 95vw;
  height: 100vh;
  background-color: #1c1c1c;
}

.MColOne {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.MColTwo {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
