.DayBar {
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

/* Need the bar to grow to fill entire width. Flex-grow is 0 normally*/
.DayBar div {
  flex: 1;
  border-bottom: 1px solid gray;
}
