.Today {
  display: flex;
  justify-content: space-evenly;
  width: 86%;
  margin-left: 8%;
  margin-right: 8%;
  min-width: 600px;
  color: #ff9b71;
}

.Today div {
  padding-left: 2em;
  padding-bottom: 1em;
  flex: 1;
  min-width: 64px;
  white-space: nowrap;
}

.example-enter {
  opacity: 0;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
